.title > span {
    text-shadow: none !important;
}

@media (max-width: 768px) {
    .title > span:nth-of-type(1) {
        text-shadow: none !important;
    }

    .title > span:nth-of-type(2) {
        text-shadow: none !important;
    }
}